# Lecture 5: Exercise Solutions

## Exercise 2: Sets

Write a function that finds the overlap of two sets and prints them.
Initialize two sets, e.g., with values {13, 25, 37, 45, 13} and {14, 25, 38, 8, 45} and call this function with them.

The manual way to do this:

In [12]:
def overlap(set1, set2):
    set_overlap = set()
    for k in set1:
        if k in set2: 
            set_overlap.add(k)
    print (set_overlap)
    
set1 = {13, 25, 37, 45, 13} 
set2 = {14, 25, 38, 8, 45} 

overlap(set1, set2)

{25, 45}

The better way, knowing about the methods the set provides:

In [13]:
def intersection(set1, set2):
    print (set1.intersection(set2))

intersection(set1, set2)

{25, 45}

## Exercise 3: Dictionaries

 * Create a dictionary with two-letter codes of two US states and the full names, e.g., UT: Utah, NY: New York
 * After initially creating the dictionary, add two more states to the dictionary.
 * Create a second dictionary that maps the state codes to an array ofities in that state, e.g., UT: [Salt Lake City, Ogden, Provo, St. 
 
 George]. 
ut  * Write a function that takes a state code and prints the full name of the state and lists the cities in that state.

In [14]:

ut = "UT"
states = {ut:"Utah", "NY":"New York"}
states["CA"] = "California"
states["MA"] = "Massachusetts"

cities = {ut:["Salt Lake City", "Ogden", "Provo", "St. George"], "NY":["Albany", "New York City", "Buffalo"]}

def print_state_info(code, states):
    if (code in states and code in cities): 
        print (states[code] + ": "+ str(cities[code]))
    else:
        print ("No information for state code " + code)
        
print_state_info("UT")
print_state_info("NY")
print_state_info("WA")

Utah: ['Salt Lake City', 'Ogden', 'Provo', 'St. George']
New York: ['Albany', 'New York City', 'Buffalo']
No information for state code WA

## Exercise 5: Pandas Series

Create a new pandas series with the lists given below that contain NFL team names and the number of Super Bowl titles they won. Use the names as indices, the wins as the data.

 * Once the list is created, sort the series alphabetically by index. 
 * Print an overview of the statistical properties of the series. What's the mean number of wins?
 * Filter out all teams that have won less than four Super Bowl titles
 * A football team has 45 players. Update the series so that instead of the number of titles, it reflects the number of Super Bowl rings given to the players. 
 * Assume that each ring costs \$ 30,000. Update the series so that it contains a string of the dollar amount including the \$ sign. For the Steelers, for example, this would correspond to: 
 ```
 Pittsburgh Steelers             $ 8100000
 ```

In [4]:
teams = ["Pittsburgh Steelers",
"Dallas Cowboys",
"San Francisco 49ers",
"New England Patriots",
"Green Bay Packers",
"New York Giants",
"Denver Broncos",
"Oakland/Los Angeles Raiders",
"Washington Redskins",
"Miami Dolphins",
"Baltimore/Indianapolis Colts",
"Baltimore Ravens"]
wins = [6,5,5,4,4,4,3,3,3,2,2,2]

In [5]:
import pandas as pd

In [6]:
winning_teams = pd.Series(wins, name="Superbowl-winning NFL Teams", index=teams)
winning_teams

Pittsburgh Steelers             6
Dallas Cowboys                  5
San Francisco 49ers             5
New England Patriots            4
Green Bay Packers               4
New York Giants                 4
Denver Broncos                  3
Oakland/Los Angeles Raiders     3
Washington Redskins             3
Miami Dolphins                  2
Baltimore/Indianapolis Colts    2
Baltimore Ravens                2
Name: Superbowl-winning NFL Teams, dtype: int64

In [7]:
winning_teams.sort_index()

Baltimore Ravens                2
Baltimore/Indianapolis Colts    2
Dallas Cowboys                  5
Denver Broncos                  3
Green Bay Packers               4
Miami Dolphins                  2
New England Patriots            4
New York Giants                 4
Oakland/Los Angeles Raiders     3
Pittsburgh Steelers             6
San Francisco 49ers             5
Washington Redskins             3
Name: Superbowl-winning NFL Teams, dtype: int64

In [8]:
winning_teams.describe()

count    12.000000
mean      3.583333
std       1.311372
min       2.000000
25%       2.750000
50%       3.500000
75%       4.250000
max       6.000000
Name: Superbowl-winning NFL Teams, dtype: float64

In [9]:
winning_teams[winning_teams > 3]

Pittsburgh Steelers     6
Dallas Cowboys          5
San Francisco 49ers     5
New England Patriots    4
Green Bay Packers       4
New York Giants         4
Name: Superbowl-winning NFL Teams, dtype: int64

In [10]:
rings = winning_teams * 45
rings

Pittsburgh Steelers             270
Dallas Cowboys                  225
San Francisco 49ers             225
New England Patriots            180
Green Bay Packers               180
New York Giants                 180
Denver Broncos                  135
Oakland/Los Angeles Raiders     135
Washington Redskins             135
Miami Dolphins                   90
Baltimore/Indianapolis Colts     90
Baltimore Ravens                 90
Name: Superbowl-winning NFL Teams, dtype: int64

In [11]:
def to_dollar(rings):
  return "$ " + str(rings * 30000)

rings.map(to_dollar)

Pittsburgh Steelers             $ 8100000
Dallas Cowboys                  $ 6750000
San Francisco 49ers             $ 6750000
New England Patriots            $ 5400000
Green Bay Packers               $ 5400000
New York Giants                 $ 5400000
Denver Broncos                  $ 4050000
Oakland/Los Angeles Raiders     $ 4050000
Washington Redskins             $ 4050000
Miami Dolphins                  $ 2700000
Baltimore/Indianapolis Colts    $ 2700000
Baltimore Ravens                $ 2700000
Name: Superbowl-winning NFL Teams, dtype: object